BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120

AccessModifierOffset: -4
PointerAlignment: Left
PackConstructorInitializers: Never

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline